@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Select a city</h1>
</div>

<div class="container">
    <form action="index" method="post">
        <div class="text-center">
            <select>
                <option value="value">placeholder</option>
            </select>
        </div>
    </form>
</div>