@{
    ViewData["Title"] = "Home Page";
}

@model WeatherCityListModel

<div class="text-center">
    <h1 class="display-4">Select a city</h1>
</div>

<div class="container">
    @using (Html.BeginForm("CheckWeather", "Home", FormMethod.Post))
    {
        <div class="text-center">
            @Html.DropDownListFor(x => x.Cities.First().Id, new SelectList(Model.Cities, "Id", "Name", string.Empty), "Select a city", new
       {
           @class = "form-control selectpicker"
       })
            <input type="submit" name="Submit" value="Check weather" />
        </div>
    }
</div>
<div>
    <a asp-action="Country">Back to country selection</a>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker({
                liveSearch: true,
                liveSearchNormalize: true,
                liveSearchPlaceholder: "City name",
                virtualScroll: true
            });
        });
    </script>
}